<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="Console" xsi:type="ColoredConsole" layout="${longdate} ${level}: ${message} ${exception:format=Message,StackTrace}" />
			<target name="File" xsi:type="File" fileName="${basedir}/logs/processor.current.log" layout="${longdate} ${level} : ${message} : ${exception:format=Message,StackTrace}" archiveFileName="${basedir}/logs/processor.${shortdate}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="Console" />
			<logger name="*" minlevel="Error" writeTo="File" />
		</rules>
	</nlog>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Accord.Statistics" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>