<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="trader" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=AutomatedTrading;Persist Security Info=True;User ID=elevated-trader;Password=Phuducran+7rafre" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="dxfeed" value="rt1.ec2.dxfeed.com:7837" xdt:Locator="Match(key)" xdt:Transform="Replace" />
	</appSettings>
</configuration>